rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    // Avatars can be read by anyone, but only written by the owner.
    match /avatars/{userId}/{allPaths=**} {
      allow read;
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    // Attachments can be read by anyone (if they have the URL),
    // and written by any authenticated user.
    match /attachments/{allPaths=**} {
      allow read;
      allow write: if request.auth != null;
    }
  }
}
